.about 
    .my-work.about__container 
        .about__preview 
            span.about__preview-mark my work for
                span.about__preview-mark_number 5+
            img.about__preview-pic(src="/images/about.webp", alt="")
        section.about__info 
            h2.about__info-title What is Frond-End
            p.about__info-desc it is the development of of the user interface and functions that run on on the client side of a website or application This is everything that a user sees when opening a or aweb page and with which he interacts.
            p.about__info-desc This is everything that a user sees when opening a web page and with which he interacts.
            a.about__info-link(href="#") go to work 